/*======================================
  default grid set up -> mobile first
======================================*/

#client-app {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-gap: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: center;
  min-height: 50vw;
  margin: 2px;
  /* padding-top: 9em; */
  border: red 1px solid;
}

/*======================
large screen sizes
======================*/

@media (min-width:1024px) {
  #client-app {
    /* grid-column: col-start 1 / span 2; */
    /* grid-template-columns: repeat(2, [col-start] 1fr); */
  }
}
