.footer-nav {
  width: 100%;
  padding: 0 1em 1em;
  margin: 0 auto;
  margin-bottom: 0.5em;
  border: coral 1px dotted;
}

#channels {
  -webkit-column-count: 4;
          column-count: 4;
  -webkit-column-width: 150px;
          column-width: 150px;
  -webkit-column-rule: 1px solid #ccc;
          column-rule: 1px solid #ccc;
  padding-left: 0;
}

#channels li {
  padding: 2px 5px;
  letter-spacing: 1px;
  text-align: left;
  vertical-align: middle;
  line-height: 24px;
  list-style: none;
}

#channels-title {
  padding: 10px 10px 10px 0;
}
