/*
blue color: rgba(51, 122, 183,1.0);
blue color: #337ab7;
*/

/* ------------------------- */
/* BASIC SETUP */
/* ------------------------- */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: #444;
  font-family: Avenir, Helvetica Neue, Arial Black, sans;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}


/* ------------------------- */
/* REUSABLE SELECTORS */
/* ------------------------- */ 

/* section styling - creates boxes around content from apis */

section {
  padding: 1px 5px;
  margin: 0.5rem auto;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 1px 2px 2.5px #888;
}


.container {
  margin: 0 .5em;
}

.row {
  display: flex;
  flex-direction: column;  
  justify-content: space-around;
}


.col-1,
.col-2 {
  min-width: 300px;
  flex: 1;
}


.pull-right {
  float: right !important;
}


/* ----- LINKS ----- */

a:link,
a:visited {
    color: #337ab7;
    text-decoration: none;
    padding-bottom: 1px;
    /*border-bottom: 1px solid #337ab7;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;*/
}


a:hover,
a:active {
    color: #183A57;
    padding-bottom: .25px;
    border-bottom: 2px solid;
    /*text-decoration: underline;*/
}


/* ---- Pagination ---- */



.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 1px 0;
  box-shadow: 1px 1.5px 1px #656565;
  border-radius: 4px;
}

.pagination > ul {
  border: 0px;
  padding: 0px;
  min-width: 266px;
}

.pagination > li {
  list-style: none;  
  float: left;
  margin: 0 .5px;
  min-width : 27px;
  min-height: 2em;
  border: 1px solid #2e6da4;
  background-color: #337ab7;
  border-radius: 2px;
  color: white;
  text-align: center;
  line-height: 1.9em;
  cursor: pointer;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


/*.pagination {
  margin: 1px 0;
  box-shadow: 1px 1.5px 1px #656565;
}

.pagination ul {
  border: 0px;
  padding: 0px;
  min-width: 266px;
}

.pagination li {
  list-style: none;  
  float: left;
  margin: 0 .5px;
  min-width : 27px;
  min-height: 2em;
  border: 1px solid #2e6da4;
  background-color: #337ab7;
  border-radius: 2px;
  color: white;
  text-align: center;
  line-height: 1.9em;
  cursor: pointer;
}

.pagination li:hover {
  background-color: white;
  border: 1px solid #2e6da4;
  color: #337ab7;
}

.pagination .active-class {
  background-color: white !important;
  border: 1px solid #2e6da4 !important;
  color: #337ab7 !important;  
}*/


/* ---- Loaders ---- */

.cylon div {
  margin: 8px auto 0;
  padding: 4px;
  border: 2px dotted MediumVioletRed;
  border-radius: 50%;
}


/* ------------------------- */
/* NAVBAR */
/* ------------------------- */ 

/* Remove the navbar's default margin-bottom and rounded borders */
/*.navbar {
  margin-bottom: 0;
  border-radius: 0;
}*/



/* - - - - Navbar menu toggle - - - - */

/* This .app:before entry clears the space under the floating navbar */
.app:before {
  content: '';
  display: block;
  padding-top: 3.5em;
}

.navbar {
  background-color: #fff;
  /*box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);*/
  box-shadow: 1px 2px 2.5px #888;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 280px;
  min-height: 56px;
  z-index: 9999;
}
 
.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
 
.navbar li a {
  display: block;
  padding: 19px 20px;
  border-right: 1px solid #f4f4f4;
  border-left: 1px solid #f4f4f4;
  text-decoration: none;
}
 
.navbar li a:hover {
  background-color: #f4f4f4;
}
 
.navbar .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 11px 20px;
  text-decoration: none;
}
 
.navbar .menu,
.navbar .menu-right {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.navbar .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
 
.navbar .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
 
.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
 
.navbar .menu-icon .navicon:before {
  top: 5px;
}
 
.navbar .menu-icon .navicon:after {
  top: -5px;
}

.navbar .menu-btn {
  display: none;
}
 
.navbar .menu-btn:checked ~ .menu,
.navbar .menu-btn:checked ~ .menu-right {
  max-height: 240px;
}
 
.navbar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
 
.navbar .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
 
.navbar .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
 
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


/* ------------------------- */
/* MEDIA QUERIES */
/* ------------------------- */ 

/*@media (min-width: 660px) {*/
/*@media (min-width: 768px) {*/
@media (min-width: 48em) {
  .navbar {
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
  }
  .navbar li {
    float: left;
  }
  .navbar li a {
    padding: 19px 30px;
  }
  .navbar .menu {
    clear: none;
    float: left;
    max-height: none;
  }
  .navbar .menu-right {
    clear: none;
    float: right;
    max-height: none;
  }
  .navbar .menu-icon {
    display: none;
  }

  /* API boxes expand using this */

  .row {
    flex-direction: row;  
  }
  .col-1 {
    margin: 0 5px;
  }

  .container {
    margin: 0 8em;
  }

}





/* ------------------------- */
/* YOUTUBE API */
/* ------------------------- */ 

.youtube-api h2 {
  /*flex: 1.25;*/
  text-align: center;
  padding: 10px;
}

.youtube-api .video {
  height: 250px; 
  width: 100%;
  max-height: 400px;
}

div .item {
  margin-bottom: 4px;
  padding: 1px 0;
  /*border: 1px solid #f4f4f4;*/
  border-radius: 2px;
  box-shadow: 1px 2px 2.5px #888;
}

div .item h5 {
  /*margin-bottom: 4px;*/
  padding: 4px 2px;
  /*padding: 2px 2px 0 1px;*/
  /*border: 1px solid #f4f4f4;*/
  /*border-radius: 2px;*/
  /*box-shadow: 1px 2px 2.5px #888;*/
}

/* ------------------------- */
/* WEATHER API */
/* ------------------------- */ 

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

svg {
  height: 100px;
}

/* this is for sizing the Google Map */
td:first-of-type, td:first-of-type > div {
  height: 150px;
  width: 150px;
}


/* ------------------------- */
/* NEWS API */
/* ------------------------- */ 

.news-button-group {
  display: flex;
  padding: 1px 0;
  justify-content: flex-end;
  align-items: center;
}

.news-button-group h2 {
  flex: 1.25;
  text-align: center;
}

.news-button-group button {
  flex: 1;
}

.news-api {
  padding-bottom: 35px;
}

#news-content {
  margin: 0 auto;
  font-size: 1em;
  font-weight: 400;
}

#news-content li {
    /* max-height: 48px; */
    min-height: 54px;
    overflow: hidden;
    padding: 2px 5px;
    letter-spacing: 1px;
    text-align: left;
    border: 1px solid #2e6da4;
    border-radius: 5px;
    vertical-align: middle;
    line-height: 24px;
}



/* ---------------- */
/*  AUTHENTICATION  */
/* ---------------- */ 

/* section styling height override for authentication pages (login.html & signup.html) */
.auth {
  height: 16rem;
}


/* ------------------------- */
/*  BOTTOM NAV / FAT FOOTER  */
/* ------------------------- */ 

/* styling for bottom navbar */

/*#bootstrap-overrides {*/
.channels {
  /*column-count: 4;
  column-width: 150px;*/
  -webkit-columns: 4 150px;
     -moz-columns: 4 150px;
          columns: 4 150px;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
  -webkit-column-rule: 1px solid #ccc;
     -moz-column-rule: 1px solid #ccc;
          column-rule: 1px solid #ccc;
  /*column-fill: balance;*/
  -webkit-column-fill: auto;
     -moz-column-fill: auto;
          column-fill: auto;
}


.channels li {
  padding: 2px 5px;
  letter-spacing: 1px;
  text-align: left;
  vertical-align: middle;
  line-height: 24px;
}

.channels h3 {
  padding: 10px 10px 10px 0;
  font-size: 2em;
  -webkit-column-span: all;
     -moz-column-span: all;
          column-span: all;
}


/* section styling height override for footer-nav with Channels */
.footer-nav {
  /*padding-bottom: 1em;*/
  padding: 0 1em 1em;
  margin: 7px 5px 5px;
}


/* ------------------------- */
/* FORMS */
/* ------------------------- */ 



.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}








/* ------------------------- */
/* BUTTONS */
/* ------------------------- */ 

button#load {
  padding: 0 3em;
  outline: none;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1em;
  line-height: 4;
  overflow: hidden;
  border-radius: 5px;
  background: rgba(0,0,0,0.2);
  text-align: center;
  cursor: pointer;
  margin: 20px auto;
  display: block;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}


.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #183A57;
  border-color: #204d74;
  border-color: grey;
}
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: #286090;
  background-color: green;
  background-color: orange;
  background-color: #18DC57;
  border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary:active.focus,
.btn-primary.active.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-primary:active,
.btn-primary.active {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}








/* ------------------------- */
/* SPINNERS */
/* ------------------------- */  
.spinner {
  display: block;
  width: 100px;
  height: 100px;
  background: #eee;
  border-radius: 50%;
  position: relative;
  border: 2px dotted #000080;
  margin: 25px auto;
}

.spinner:after,
.spinner:before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.spinner-1:after {
  position: absolute;
  top: -2px;
  left: -2px;
  border: 2px solid transparent;
  border-top-color: #000080;
  border-bottom-color: #000080;
  -webkit-animation: spinny 1.5s linear infinite;
          animation: spinny 1.5s linear infinite;
}

.spinner-3 {
  background: none;
  border: 4px solid #eee
}
  
.spinner-3:after {
  width: 2px;
  height: 66px;
  background: orangered;
  border-radius: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}
    

.spinner-4,
.spinner-4:before,
.spinner-4:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  background: orangered;
  -webkit-animation: pulse 3s linear infinite;
          animation: pulse 3s linear infinite;
  opacity: 0;
}
    
.spinner-4:after {
  -webkit-animation: pulse 2s linear 2.3s infinite;
          animation: pulse 2s linear 2.3s infinite;
}

/* - - - - Animations - - - - */

@-webkit-keyframes spinny {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(1.2);
            transform: rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes spinny {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(1.2);
            transform: rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
}