
/* (Temporarily) Override the styles
getting applied by BS */
.navbar {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  min-height: 56px !important;
  border: 0px !important;
}


/* - - - - Navbar menu toggle - - - - */
.navbar {
  background-color: #fff;
  box-shadow: $box-shadow;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 280px;
  min-height: 56px;
  max-height: 56px;
  z-index: 9990;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.navbar li a {
  display: block;
  padding: 17px 20px;
  border-right: 1px solid #f4f4f4;
  border-left: 1px solid #f4f4f4;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #f4f4f4;
}

.navbar .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 7px 20px;
  text-decoration: none;
}

.navbar .menu,
.navbar .menu-right {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.navbar .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.navbar .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navbar .menu-icon .navicon:before {
  top: 5px;
}

.navbar .menu-icon .navicon:after {
  top: -5px;
}

.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn:checked ~ .menu,
.navbar .menu-btn:checked ~ .menu-right {
  max-height: 240px;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
