$blue-app-text: #337ab7 !default;
$blue-app-text-rgba: rgba(51, 122, 183,1.0);

$hopbush: #c69 !default;
$patina: #699 !default;
$venus: #998099 !default;
$nebula: #d2e1dd !default;

$black: #000 !default;
$white: #fff !default;

$border-radius-4px: 4px !default;
$border-news-contents: 1px solid #2e6da4;

$btn-disabled-opacity: 0.5 !default;

$box-shadow: 1px 2px 2.5px #888;
