/* ------------------------- */
/* MEDIA QUERIES */
/* ------------------------- */

/*@media (min-width: 660px) {*/
  /* API boxes expand using this */
/*@media (min-width: 896px) {

  .app {
    flex-direction: row;
    background-color: red;
  }
  .col-1 {
    margin: 0 5px;
  }

  .container {
    margin: 0 8em;
  }

}
*/

/*@media (min-width: 48em) {*/
/*@media (min-width: 600px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar li {
    float: left;
  }
  .navbar li a {
    padding: 17px 30px;
  }
  .navbar .menu {
    clear: none;
    float: left;
    max-height: none;
  }
  .navbar .menu-right {
    clear: none;
    float: right;
    max-height: none;
  }
  .navbar .menu-icon {
    display: none;
  }
}
*/

/* Small phones: to 480px */
@media only screen and (max-width: 480px) {
   /* section { padding: 25px 0; }
    .contact-form { width: 100%; }*/
}



/* Small phones to small tablets: from 481px to 767px */
@media (min-width: 481px) {
  .app {
    /*flex-direction: row;*/
    max-width: 480px;
    /*background-color: red;*/
  }
}


/* Small tablet to big tablets: from 786px to 1023px */
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar li {
    float: left;
  }

  .navbar li a {
    padding: 17px 30px;
  }

  .navbar .menu {
    clear: none;
    float: left;
    max-height: none;
  }

  .navbar .menu-right {
    clear: none;
    float: right;
    max-height: none;
  }

  .navbar .menu-icon {
    display: none;
  }

  /*  .span-1-of-3,
    .span-2-of-3 {
      max-width: 50%;
    }


    .span-3-of-3 {
      max-width: 100%;
    }*/

  .youtube-api {

  }

  .weather-api {

  }

  .news-api {

  }
}

/* Above 1024 Big tablet to 1200px */
@media (min-width: 1024px) {
  .app {
    // flex-direction: row;
    max-width: 1140px;
    /*background-color: red;*/
  }

  .container {
    margin: 0 8em;
  }

  section {
    max-height: 950px;
    overflow-y: scroll;
  }

  .weather-api {
    max-height: 550px;
  }

}
